<div class="relative overflow-hidden">
  <img
    class="w-full h-full"
    src="pexels-serpstat-177219-572061.jpg"
    alt="background-image"
  />
  <div
    class="container absolute inset-y-0 left-10 flex flex-col items-start text-white p-10"
  >
    <div class="mb-32">
      <a href="#">
        <img
          src="https://cdn.prod.website-files.com/65e4c29ae4a73ff20c8dd382/65eb2be0e690c56a9ae98c24_Layer_1.svg"
          alt="Logo-image"
        />
      </a>
    </div>
    <p class="text-5xl font-bold mb-4 font-mono">Poor credit score?</p>
    <ul class="list-none text-lg mb-6 font-mono">
      <li>We help when the bank says no. Our lenders welcome all credit</li>
      <li>
        scores, and provide an instant pre-qualification for a loan program.
      </li>
    </ul>
    <button
      class="bg-red-500 hover:bg-red-600 text-white px-24 py-4 rounded-md font-medium mt-8 font-mono"
      (click)="onAdding()"
    >
      PRE-QUALIFY NOW
    </button>
  </div>
</div>
@if (isAdding) {
  <app-qualification-form (close)="onClosing()" />
}
