<div class="flex flex-row justify-between mt-24 mb-5 mx-20">
  <div class="flex flex-row">
    <img class="w-8 h-8 mr-4" src="_favicon-small.png" alt="icon image" />
    <div class="flex flex-col">
      <p class="text-primary text-sm font-serif font-bold mb-4">
        HOMELOANGURUS
      </p>
      <P class="text-secondary font-serif leading-relaxed max-w-xs"
        >401 N.Caroll Ave, Suite 154 Southlake, Tx 76092</P
      >
    </div>
  </div>
  <div class="flex flex-col">
    <p class="text-primary text-sm font-serif font-bold mb-4">PRIVACY</p>
    <ul class="list-none text-secondary font-serif leading-relaxed">
      <li routerLink="/terms">Terms and Conditions</li>
      <li routerLink="/privacy">Privacy Policy</li>
      <li (click)="onUnsubscripe()">Unsubscripe</li>
    </ul>
  </div>
  <div class="flex flex-col">
    <p class="text-primary text-sm font-serif font-bold mb-4">ABOUT US</p>
    <P class="text-secondary font-serif leading-relaxed max-w-sm"
      >HomeLoanGurus.com is not a mortgage lender or mortgage bank and does not
      directly offer any mortgage products. This site is not an advertiser for
      consumer credit as defined in 12 CFR1026.2(a)(2).</P
    >
    <p class="text-secondary font-serif leading-relaxed mt-8">
      &#169; 2020 HomeLoanGurus.com All rights reserved
    </p>
  </div>
</div>
