<div class="flex flex-row justify-around my-16 ml-20">
  <div class="max-w-xs">
    <img class="w-12 h-12" src="door.png" alt="door image" />
    <p class="text-primary text-lg font-serif font-bold mt-4">
      Low Down Payment
    </p>
    <p class="text-secondary mt-2 font-serif leading-relaxed">
      Mortgages with low down payments exist, and our lenders can help you find
      them.
    </p>
  </div>
  <div class="max-w-xs">
    <img class="w-12 h-12" src="hourglass.png" alt="door image" />
    <p class="text-primary text-lg font-serif font-bold mt-4">
      Get fast response
    </p>
    <p class="text-secondary mt-2 font-serif leading-relaxed">
      In just a few minutes, a lender can inform you of your purchasing
      capabilities.
    </p>
  </div>
  <div class="max-w-xs">
    <img class="w-12 h-12" src="creative-idea.png" alt="door image" />
    <p class="text-primary text-lg font-bold font-serif mt-4">
      No cost of applying
    </p>
    <p class="text-secondary mt-2 font-serif leading-relaxed">
      Our efforts are 100% free. We can help find a loan. We never charge you a
      fee.
    </p>
  </div>
</div>
