<div class="flex flex-col items-center justify-center my-24">
  <p class="text-primary text-2xl font-serif font-bold mb-16">
    This is how it works
  </p>
  <div class="flex flex-row items-center">
    <div
      class="w-14 h-14 bg-yellow-500 text-white font-bold text-xl flex items-center justify-center rounded-full"
    >
      1
    </div>
    <div class="w-96 h-2 bg-yellow-500 mx-1"></div>
    <div
      class="w-14 h-14 bg-yellow-500 text-white font-bold text-xl flex items-center justify-center rounded-full"
    >
      2
    </div>
    <div class="w-96 h-2 bg-yellow-500 mx-1"></div>
    <div
      class="w-14 h-14 bg-yellow-500 text-white font-bold text-xl flex items-center justify-center rounded-full"
    >
      3
    </div>
  </div>
  <div class="flex mt-5">
    <div class="max-w-xs text-center">
      <p class="text-primary text-lg font-serif font-bold mt-4">Apply online</p>
      <p class="text-secondary mt-2 font-serif leading-relaxed">
        Take a few minutes to answer some questions about yourself, and how much
        you would like to borrow.
      </p>
    </div>
    <div class="max-w-xs text-center mx-32">
      <p class="text-primary text-lg font-serif font-bold mt-4">
        Connect with a lender
      </p>
      <p class="text-secondary mt-2 font-serif leading-relaxed">
        Within minutes, a lender can review your application and reach out to
        you with options.
      </p>
    </div>
    <div class="max-w-xs text-center">
      <p class="text-primary text-lg font-serif font-bold mt-4">
        Become pre-approved
      </p>
      <p class="text-secondary mt-2 font-serif leading-relaxed">
        Work with the lender to become pre-approved and start home shopping.
      </p>
    </div>
  </div>
</div>
